$blue: #2f76dc;
$cyan: #B9EFF8;
$mango: #FBC920;
$crimson: #E62C39;
$grey: #2E333F;
$gold: #DFC18A;
$font: 'FiraCode';

$first: $crimson;
$second: $gold;
$third: $blue;
$fourth: $mango;

$fg: $cyan;
$bg: $grey;
$highlight: $blue;

$control-radius: 10px;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.control-center {
  background-color: $bg;
  color: $fg;
  border-radius: $control-radius;
  font-family: $font;
}


// Global Styles
.bar {
  font-family: $font;
  background-color: $bg;
  color: $fg;
}

// Styles on classes (see eww.yuck for more information)
.music {
  background-color: $bg;
}

.sidestuff {
  background-color: $bg;
}

.sidestuff slider {
  all: unset;
  color: $cyan;
}

.workspaces {
  background-color: $bg;
  color: $fg;
}

button:hover {
  color: $highlight;
}

.active {
  color: $highlight;
}

.control-metric scale trough highlight {
  all: unset;
  background-color: $crimson;
  color: #000000;
  border-radius: 10px;
}

.control-metric scale trough {
  all: unset;
  background-color: lighter(lighter($bg));
  border-radius: 50px;
  min-height: 8px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
  box-shadow: 3px 3px $bg;
}

.control-metric {
  color: $crimson;
  margin: 5px;
}

.control-card {
  background-color: lighter($bg);
  border-radius: $control-radius;
  margin: 5px;
}

.notifications {
  margin: 5px;
}

.notification-card {
  border-radius: $control-radius;
  background-color: lighter($bg);
  padding: 5px;
}

.notification-card:hover {
  background-color: lighter(lighter($bg));
  color: $fg
}

.toggle-controls {
  background-color: $bg;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.toggle {
  border: solid darker($bg) 2px;
  border-radius: 100%;
}

.toggle-active {
  background-color: darker($bg);
}

.toggle.toggle-inactive:nth-child(1) {
  background-color: $bg;
  border-color: $first;
  color: $first;
}

.toggle.toggle-active:nth-child(1) {
  background-color: $first;
  border-color: $first;
  color: $bg;
}

.toggle.toggle-inactive:nth-child(2) {
  background-color: $bg;
  border-color: $second;
  color: $second;
}

.toggle.toggle-active:nth-child(2) {
  background-color: $second;
  border-color: $second;
  color: $bg;
}

.toggle.toggle-inactive:nth-child(3) {
  background-color: $bg;
  border-color: $third;
  color: $third;
}

.toggle.toggle-active:nth-child(3) {
  background-color: $third;
  border-color: $third;
  color: $bg;
}

.toggle.toggle-inactive:nth-child(4) {
  background-color: $bg;
  border-color: $fourth;
  color: $fourth;
}

.toggle.toggle-active:nth-child(4) {
  background-color: $fourth;
  border-color: $fourth;
  color: $bg;
}

.sys-info {
  background-color: $bg;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.sys-stat:nth-child(1) {
  color: $first;
}

.sys-stat:nth-child(2) {
  color: $second;
}

.sys-stat:nth-child(3) {
  color: $third;
}

.sys-stat:nth-child(4) {
  color: $fourth;
}
