@import '/home/ebithril/.cache/wal/colors-wofi.css';

@define-color focusColor alpha(@color2, 0.8);
@define-color backgroundColor alpha(@background, 0.8);

#window {
    background-color: transparent;
    margin-right: 200px;
}
 
#input {
    color: @color1;
    border: 1px solid @focusColor;
    border-radius: 20px; 
 
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
 
    box-shadow: none;
    background-color: @backgroundColor;
}
 
#input:focus {
    color: @foreground;
    border: 1px solid @focusColor;
 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
 
    box-shadow: none;
    background-color: @backgroundColor;
}
 
#entry {
    font-family: JetBrainsMono;
    border: 1px solid @focusColor;
    border-radius: 20px;
    margin: 5px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    color: @foreground;
    background: @backgroundColor;
}
 
#entry:focus {
    background: @backgroundColor;
    border: 1px solid @focusColor;
    color: lighter(@foreground);
}

#entry:selected {
    background: @focusColor;
    border: 1px solid @focusColor;
    color: lighter(@foreground);
}
